
services:
    backend:
        container_name: blog-app33
        build:
          context: .
          dockerfile: ./dockerfiles/Dockerfile
        volumes:
            - ./core:/srv/app
        ports:
            - "8000:8000"
        command: sh -c "python manage.py makemigrations --no-input && python manage.py migrate --no-input && python manage.py runserver 0.0.0.0:8000"
        depends_on:
            - redis
            - db
        env_file:
            - ./envs/dev/.env

    redis:
        image: redis:latest
        restart: always
        container_name: redis33
        ports:
            - "6379:6379"
        command: redis-server --save 60 1 --loglevel warning

    db:
        container_name: pg-db33
        image: postgres:15-alpine
        volumes:
            - postgres_data33:/var/lib/postgresql/data
        ports:
            - "5432:5432"
        env_file:
            - ./envs/dev/.env
        restart: always

    # worker-celery:
    #     container_name: worker-celery33
    #     build:
    #       context: .
    #       dockerfile: ./dockerfiles/Dockerfile
    #     volumes:
    #         - ./core:/srv/app
    #     command: celery -A core worker --loglevel=info
    #     depends_on:
    #         - redis
    #         - backend
    #     env_file:
    #         - ./envs/dev/.env

    # beat-celery:
    #     container_name: beat-celery33
    #     build:
    #       context: .
    #       dockerfile: ./dockerfiles/Dockerfile
    #     volumes:
    #     - ./core:/srv/app
    #     command: celery -A core beat --loglevel=info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    #     depends_on:
    #     - redis
    #     - backend
    #     env_file:
    #         - ./envs/dev/.env

    smtp4dev:
        image: rnwood/smtp4dev:v3
        restart: always
        ports:
            # Change the number before : to the port the web interface should be accessible on
            - '5000:80'
            # Change the number before : to the port the SMTP server should be accessible on
            - '25:25'
            # Change the number before : to the port the IMAP server should be accessible on
            - '143:143'
        volumes:
        # This is where smtp4dev stores the database..
            - smtp4dev-data33:/smtp4dev
        environment:
            #Specifies the URLs the web UI will use inside the container.
            - ServerOptions__Urls=http://*:80
            #Specifies the server hostname. Used in auto-generated TLS certificate if enabled.
            - ServerOptions__HostName=smtp4dev

    # locust-master:
    #     image: locustio/locust
    #     ports:
    #     - "8089:8089"
    #     volumes:
    #     - ./core/core/locust:/mnt/locust
    #     command: -f /mnt/locust/locustfile.py --master -H http://backend:8000
    
    # locust-worker:
    #     image: locustio/locust
    #     volumes:
    #     - ./core/core/locust:/mnt/locust
    #     command: -f /mnt/locust/locustfile.py --worker --master-host master

volumes:
  smtp4dev-data33:
  postgres_data33: